{% extends "base.html" %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
{% endblock %}

{% block header %}
    <header class="am-topbar kid-topbar">
        <img class="kid-logo" src="/static/images/logo.png">
        <div class="kid-bar">
            <ul class="kid-checklist">
                <li class="kid-list kid-list-blog"></li>
                <li class='kid-list kid-list-quiz'></li>
                <li class="kid-list kid-list-game"></li>
            </ul>
            <div class="kid-search">
                <input type="text" name="kw" class='kid-search-text'>
                <input type="button" name="se" class="kid-search-btn" onclick="search()">
            </div>
        </div>
    </header>
{% endblock %}

{% block main_content %}
    <div class="kid-container" style="display:none;">
        <div class="kid-main">
            <div class="kid-title">
                <div class="kid-userphoto" style="background-image: url(/static/images/{{user['head']}});"></div>
                <div class="kid-username">{{user['username']}}</div>
                <a href="/microblog/pub" class="kid-pub-btn"></a>
                <div class="kid-head-list">
                    <div class="kid-headlist">
                        {% for i in range(1,9) %}
                            <img src="/static/images/{{i}}.jpg" width="60" onclick="head_update(this)">
                        {% endfor %}
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>
            <div class="kid-content">
                {% for blog in microblogs %}
                    <div class="kid-piece" data-id="{{ blog['_id'] }}" onclick="show_detail(this)">
                        <div class="kid-piece-content" style="background-image: url(/static/images/photo/{{ blog['photos'][0] }});"></div>
                        <div class="kid-piece-footer">
                            <div class="kid-piece-photo"
                                 style="background-image: url(/static/images/photo/{{ blog['author']['head'] }});"></div>
                            <div class="kid-piece-name">{{ blog['author']['username'] }}</div>
                            <div class="kid-piece-date">{{ blog['create_time'] }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="kid-loading">
                <label for="kid-more"><a href="javascript:page_next();">加载更多</a></label><br/>
                <span id='kid-more' class="am-icon-arrow-down pull-label"></span>
                <span class="am-icon-spinner am-icon-spin"></span>    <!-- 加载动画 -->
            </div>
        </div>
    </div>
    <div data-am-widget="gotop" class="am-gotop am-gotop-fixed">
        <a href="#top" title="回到顶部">
            <img class="am-gotop-icon-custom" src="/static/images/rocket-b.png"/>
            <span class="am-gotop-title">回到顶部</span>
        </a>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="/static/js/ajax/microblog_ajax.js"></script>
    <script type="text/javascript" src="/static/js/index.js"></script>
{% endblock %}